html {
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed;
}

p {
    font-size: 12px;
}

h1 {
    margin-left: 10%;
    color: black;
}

h5 {
    margin-left: 20%;
    padding-top: 5%;
}

.overlay {
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    position: fixed;
    background: #a4f9ffef;
    z-index: -1;
}

/* navbar */

.navbar {
    color: black;

}

.navbar-brand {
    color: white;
}

.nav-item {
    margin-left: 20px;
}

/* search bar */

.form-inline> :only-child {
    padding-right: 2%;
}

/* home page */

.card {
    background-color: black;
    width: 50%;
    text-align: center;
    margin-left: 38%;
    margin-top: 2%;
}

.home-card-title {
   padding-right: 10%;
   text-align: left;
   margin-left: unset;
   padding-left: 10%;
}

/* page titles */

.page-title {
    margin-left: 43%;
    margin-top: 2%;
}

/* registration page */

.register-form-row {
    margin-left: 40%;
    margin-top: 2%;
    background-color: unset;
}

/* login page */

.login-form-row {
    margin-left: 40%;
    margin-top: 2%;
    background-color: unset;
}

/* recipe page */

.home-card-body {
    border: 1px solid black;
    padding: 10px;
}

.recipe-card-img {
    height: 320px;
    width: 485px;
}

.scrollable {
    position: relative;
    overflow-y: scroll auto;
    overflow-x: hidden;
    height: 310px;
}

.grid-container {
    padding-top: 100px;
    justify-content: center;
    text-align: center;
    display: block;
}

.grid-item {
    display: inline-block;
    margin-bottom: 20px;
    position: relative;
}


/* add a recipe */

.add-recipe-container {
    margin-top: 8%;
}

.input-field {
    list-style-type: square;
}

/* edit a recipe */

.edit-recipe-container {
    margin-top: 8%;
}

