

html {
    color: white;
    font-family: 'Rubik', sans-serif;
}

body {
    background: url("https://images.unsplash.com/photo-1486427944299-d1955d23e34d?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1650&q=80") no-repeat center center fixed; 
}

/* navbar */
.navbar {
    background-color: black;
    
}

.navbar-brand {
    color: white;
}

.nav-item {
    color: white
}

/* home page */

.card {
    background-color: black;
    width: 50%;
    text-align: center;
    margin-left: 38%;
    padding: 2px 15px 15px 15px;
    margin-top: 2%;
}

/* page titles */

.page-title {
    margin-left: 43%;
    margin-top: 2%;
}

/* registration page */

.register-form-row {
    margin-left: 40%;
    margin-top: 2%;
    background-color: unset;
}

/* login page */

.login-form-row {
    margin-left: 40%;
    margin-top: 2%;
    background-color: unset;
}


/* recipe page */



.recipe-card-body > .card-text {
    width: 600px;
    text-align: center;
}

.recipe-card-img {
    height: 400px;
    width: 400px;
}


