{% extends "base.html" %}
{% block content %}

<div class="add-recipe-container">
    <h1>{{ page_title }}</h1>
    <div class="row card-panel black">
        <form class="col s12" method="POST" action="{{ url_for('add_recipe') }}">
            <!--Add desert name -->
            <div class="row">
                <label for="dessert_name">DESSERT NAME</label>
                <div class="input-field col s12">
                    <textarea id="dessert_name" placeholder="DESSERT NAME" name="dessert_name" class="materialize-textarea validate"
                        required></textarea>
                </div>
            </div>
            <!--Add dessert ingredients -->
            <div class="row">
                 <label for="dessert_ingredients">LIST THE INGREDIENTS HERE</label>
                <div class="input_ingred_wrap col s12">
                    <textarea id="dessert_ingredients" placeholder="INGREDIENTS" name="dessert_ingredients"
                        class="materialize-textarea"></textarea>
                    <button class="add_ingredient_button">ADD FIELDS</button>
                    <div>
                        <name="mytext[]">
                    </div>
                </div>
            </div>
                    <!--Add dessert instructions -->
                    <div class="row">
                        <label for="dessert_instruction">LIST THE METHOD HERE</label>
                        <div class="input_instruc_wrap col s12">
                            <textarea id="dessert_instructions" placeholder="INSTRUCTIONS" name="dessert_instructions"
                                class="materialize-textarea"></textarea>
                            <button class="add_instruction_button">ADD FIELDS</button>
                            <div>
                                <name="mytext[]">
                            </div>
                            </div>
                        </div>
                        <!-- Add dessert image url-->
                        <div class="row">
                            <label for="dessert_image">ADD THE IMAGE ADDRESS/URL HERE</label>
                            <div class="input-field col s12">
                                <textarea id="dessert_image" name="dessert_image" placeholder="INPUT IMAGE URL HERE" class="materialize-textarea validate"
                                    required></textarea>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col s12 center-align">
                                <a href="{{ url_for('get_recipes') }}"
                                    class="btn waves-effect waves-light grey darken-3">
                                    Cancel
                                    <i class="fas fa-times right"></i>
                                </a>
                                <button class="btn waves-effect waves-light pink darken-3" type="submit">ADD NEW RECIPE
                                    <i class="fas fa-check"></i>
                                </button>
                                </div>
                            </div>
                </div>
                </div>
                </div>
        </form>


        {% endblock %}