{% extends "base.html" %}

{% block content %}


<div class="home-card-container">
    <div class="row">
        <div class="col s4">
            <div class="card" style="width: 18rem;">
                <div class="recipe-card-body">
                    <h5 class="home-card-title">THE PUDDING MENU</h5>
                    <br>
                    <p class="card-text">Welcome to The Pudding Menu, the place where you can find tasty pudding recipes
                        and
                        share your
                        own</p>
                    <a href="/register" class="card-link">REGISTER</a>
                    <a href="/login" class="card-link">LOG IN</a>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}