{% extends "base.html" %}
{% block content %}

<div class="login-form-row">
  <div class="col-sm-8 offset-2">
    <h1>{{ page_title }}</h1>
  </div>
  <div class="row">
    <form class="col-sm-4 offset-2" method="POST" action="{{ url_for('login') }}">
      <div class="row">
        <div class="input-field col-sm-8 offset-2">
          <label for="username">USERNAME</label>
          <input placeholder="LOG IN WITH YOUR USERNAME" name="username" minlength="5" maxlength="15" type="text"
            class="validate">
        </div>
      </div>
      <div class="row">
        <div class="input-field col-sm-8 offset-2">
          <label for="password">PASSWORD</label>
          <input name="password" minlength="5" maxlength="15" type="password" class="validate" required>
        </div>
      </div>
      <div class="row">
        <div class="input-field col-sm-8 offset-2">
          <button class="btn waves-effect waves-light" type="submit" name="action">LOG IN
            <i class="material-icons right"></i>
          </button>
        </div>
      </div>
  </div>
  </form>
</div>

{% endblock %}