{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>


<h1 class="page-title">{{ page_title }}</h1>
<h1>Scroll down on each image for more details</h1>

<!-- For loop to display all recipes from mongodb -->
{% for recipe in recipes %}
<div class="scrollable">
    <div class="card" style="width: 300px;">
        <div class="row">
                <img src="{{ recipe.dessert_image }}" class="recipe-card-img"
                    alt="An image of {{ recipe.dessert_name }}">
            </div>
            <div class="card-body">
                <h5 class="card-title">{{ recipe.dessert_name }}</h5>
                <p class="card-text">
                    <!-- For loop to loop through ingredients -->
                    <h5>Ingredients</h5>
                    {% for ingredient in recipe.dessert_ingredients %}
                    <p>{{ ingredient }}</p>
                    <!-- Close loop -->
                    {% endfor %}
                    <!-- For loop to loop through instructions -->
                    <h5>Instructions</h5>
                    {% for instruction in recipe.dessert_instructions %}
                    <p>{{ instruction }}</p>
                    <!-- Close loop -->
                    {% endfor %}
                    <p>
                        <em>Created by: {{ recipe.created_by }}</em>
                    </p>
            </div>
        </div>
    </div>
</div>

{% endfor %}

{% endblock %}