{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>


<h1 class="page-title">{{ page_title }}</h1>
<h3>Scroll down on each image for more details</h3>

    <!-- For loop to display all recipes from mongodb -->
    {% for recipe in recipes %}
        <div class="scrollable-card">
            <div class="card text-left" style="width: 700px;">
                <img src="{{ recipe.dessert_image }}" class="recipe-card-img"
                    alt="An image of {{ recipe.dessert_name }}">
                <div class="card-body">
                    <h5 class="card-title">{{ recipe.dessert_name }}</h5>
                    <p class="card-text">
                        <!-- For loop to loop through ingredients -->
                        <h5>Ingredients</h5>
                        {% for ingredient in recipe.dessert_ingredients %}
                        <p>{{ ingredient }}</p>
                        <!-- Close loop -->
                        {% endfor %}
                        <br>
                        <!-- For loop to loop through instructions -->
                        <h5>Instructions</h5>
                        {% for instruction in recipe.dessert_instructions %}
                        <p>{{ instruction }}</p>
                        <!-- Close loop -->
                        {% endfor %}
                        <p>
                            <em>Created by: {{ recipe.created_by }}</em>
                        </p>
                        <!-- Edit button for existing recipe -->
                        {% if session.user|lower == recipe.created_by|lower %}
                        <a href="{{ url_for('edit_recipe', recipes_id=recipe._id ) }}"
                            class="btn btn-primary btn-lg active" role="button" aria-pressed="true">EDIT</a>
                        <a href="/" class="btn btn-primary btn-lg active" role="button" aria-pressed="true">DELETE</a>
                        {% endif %}
                </div>
        </div>
    </div>

    {% endfor %}

    {% endblock %}