{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>
<h1 class="page-title">{{ page_title }}</h1>

!-- Display all recipes -->
<!-- For loop to display all recipes from mongodb -->
{% for recipe in recipes %}
<div class="card mb-3" style="max-width: 1000px;">
    <div class="row no-gutters">
        <div class="col-md-4">
            <img src="{{ recipe.dessert_image }}" class="recipe-card-img" alt="An image of {{ recipe.dessert_name }}">
        </div>
        <div class="col-md-8">
            <div class="card-body">
                <h5 class="card-title">{{ recipe.dessert_name }}</h5>
                <p class="card-text">
                    <!-- For loop to loop through ingredients -->
                    <h5>Ingredients</h5>
                    {% for ingredient in recipe.dessert_ingredients %}
                    <p>{{ ingredient }}</p>
                    <!-- Close loop -->
                    {% endfor %}
                </p>
            </div>
            <em>Created by: {{ recipe.created_by }}</em>
            </p>
            </p>
        </div>
    </div>

</div>
</div>
</div>
</div>
{% endfor %}

{% endblock %}