{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>


<h1 class="page-title">{{ page_title }}</h1>

<div class="recipe-card-container offset-1">
    <!-- For loop to display all recipes from mongodb -->
    {% for recipe in recipes %}
    <div class="recipe-card" style="width: 18rem;">
        <img src="{{ recipe.dessert_image }}" class="recipe-card-img-top" alt="An image of {{ recipe.dessert_name }}">
        <div class="recipe-card-body">
            <h5 class="recipe-card-title">{{ recipe.dessert_name }}</h5>
            <p class="recipe-card-text">Click below for the recipe and method</p>
            <a href="{{ url_for('recipe', recipe_id=recipe._id) }}">
                <img class="img_recipe" src="{{ recipe.img_url}}" alt="recipe">
                <span class="card-name">{{ recipe.recipe_name }}</span>
            </a>
        </div>
    </div>
    {% endfor %}


</div>
{% endblock %}