{% extends "base.html" %}
{% block content %}
<div class="overlay"></div>
<div class="register-container">
    <div class="register-form-row">
        <div class="col-sm-4 offset-2">
            <h1>{{ page_title }}</h1>
            <h4>SIGN UP</h4>
        </div>
        <div class="row">
            <form class="col-sm-4 offset-2" method="POST" action="{{ url_for('register') }}">
                <div class="row">
                    <div class="input-field col-sm-6 offset-2">
                        <label for="username">USERNAME</label>
                        <input placeholder="CREATE A USERNAME" name="username" minlength="5" maxlength="15" type="text"
                            class="validate"> <span class="help-block">5-15 characters</span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col-sm-6 offset-2">
                        <label for="password">PASSWORD</label>
                        <input name="password" minlength="5" maxlength="15" type="password" class="validate"> <span class="help-block">5-15 characters</span><required>
                    </div>
                </div>
                <div class="row">
                    <div class="input-field col-sm-6 offset-2">
                        <button class="btn waves-effect waves-light" type="submit" name="action">REGISTER
                            <i class="material-icons right"></i>
                        </button>
                    </div>
                </div>
        </div>
        </form>
    </div>
</div>

{% endblock %}